<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Trash Warrior</title>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
    <base href="/"/>
</head>

<body style="height: 100%; margin: 0; line-height: 1.42857143;">
<main id="root"></main>
</body>